//- <h1>hola</h1>
//- es lo mismo, solo que la sintaxis de puf es mas simple
h1 Agencia de Viajes
p #{viajes} 
//- cuando le pones igual, ya espera una variable del objeto que le estoy pasando
//- Otra forma es colocarlo así #{variable}