extends ./layout/index
//- <h1>hola</h1>
//- es lo mismo, solo que la sintaxis de puf es mas simple
block contenido
    p #{viajes} 
    //- img(src="img/cupon.jpg")
//- cuando le pones igual, ya espera una variable del objeto que le estoy pasando
//- Otra forma es colocarlo así #{variable}